<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
    <link rel="stylesheet" href="https:///cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css">
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="../css/main-white.css">
</head>
<body>
<div class="container">
    <%- include('_nav-menu-white'); %>
    <%- include('_reserve-btn-white'); %>
    <header class="header"></header>
    <%- include('_mainpage-menu-white'); %>
    <%- include('_reserve-main-white'); %>
    <%- include('_s-home-gallery-white'); %>
    <%- include('_photo-report-white'); %>
    <%- include('_main-event-white'); %>
</div>
<%- include('_footer-white'); %>

<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.js'></script>
<script type="module" src="../js/white/main-page-white.js"></script>
</body>
</html>