!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
    <link rel="stylesheet" href="https:///cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="../css/main-white.css">
</head>
<body>
<div class="container">
    <%- include('_nav-menu-white'); %>
    <%- include('_reserve-btn-white')%>
    <div class="content">
        <a class="button-section" href="gallary-all.html">
            <img class="back__butt"  src="img/gallery/one_event/Back-button.png">
        </a>
        <div class="overground">OVERGROUND 11/18</div>
        <div class="all-event-photo">
            <img  class="photo" src="img/gallery/one_event/event1.png">
            <img  class="photo" src="img/gallery/one_event/event2.png">
            <img  class="photo" src="img/gallery/one_event/event3.png">
            <img  class="photo" src="img/gallery/one_event/event4.png">
            <img  class="photo" src="img/gallery/one_event/event5.png">
            <img  class="photo" src="img/gallery/one_event/event6.png">
            <img  class="photo" src="img/gallery/one_event/event7.png">
            <img  class="photo" src="img/gallery/one_event/event8.png">
            <img  class="photo" src="img/gallery/one_event/event9.png">
            <img  class="photo" src="img/gallery/one_event/event10.png">
            <img  class="photo" src="img/gallery/one_event/event11.png">
            <img  class="photo" src="img/gallery/one_event/event12.png">
            <img  class="photo" src="img/gallery/one_event/event13.png">
            <img  class="photo" src="img/gallery/one_event/event14.png">
            <img  class="photo" src="img/gallery/one_event/event15.png">
            <img  class="photo" src="img/gallery/one_event/event16.png">


        </div>

        <div class="button-section">
            <button class="gallery__button">ЩЕ ФОТОЗВІТИ</button>
        </div>
    </div>
    <%- include('_reserve-main-white')%>
    <%- include('_reserve-action-white')%>
    <%- include('_footer-white'); %>
</div>

<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.js'></script>
<script src="../js/white/events-white.js"></script>
</body>
</html>